*{
	margin: 0;
	padding: 0;			
}

body{
	background: #e7e7e7;
}

input[type="button"]{
	cursor: pointer;
}

/* ----------------------- NAV ------------------------------*/

header nav{
	overflow: auto;
	width: 100%;	
	background: #333;
	position: fixed;
  	top: 0;
}
header nav div#barra_navegacion{
	width: 15px;	
	display: flex;
	/*margin-bottom: 5px;*/
}
header nav #barra_navegacion a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 15px;	
}
header nav #barra_navegacion a:hover{
	color: white;
	background: rgba(34,110,147,1);				
	box-shadow: 2px 2px 10px #a8a8a8;	
	transition: .2s;	
}

/* ----------------------- TITULO ------------------------------*/
header div#titulo{
	margin-top: 70px;
	margin-bottom: 30px;
}

header div#titulo h1{
	font-size: 45pt;
	text-align: center;
	color: black;	
}

/* ----------------------- REGLAS ------------------------------*/

section#reglasTrivia div{
	width: 100%;
	background: rgba(34,110,147,1);;	
	margin-bottom: 30px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;	
}



/* ----------------------- BOTON COMENZAR -------------------------*/

div#comenzar{
	text-align: center;	
}

div#comenzar input{
    background-color: deepskyblue;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

div#comenzar input:hover{
    background-color: skyblue;
    color: aquamarine;
    transition: .2s;
}

div#comenzar input:active{
    background-color: dodgerblue;
    color: aliceblue;   
}

/* ----------------------- PREGUNTAS ------------------------------*/

.secPreguntas article{
	width: 70%;
	height: 500px;
	border: 3px solid rgba(34,110,147,1);
	margin: auto;
	margin-bottom: 10px;
	display: none;
	float: center;	
}

.secPreguntas h2{
	color: white;
	background: rgba(34,110,147,1);
	text-align: center;
	padding-bottom: 3px;
}

.secPreguntas p{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 4%;
	font-size: 16pt;
}

.secPreguntas .boton{	
	width: 50%;	
	margin:auto;
	margin-top: 40px;
	text-align: center;
}

.secPreguntas .boton input{
	width: 100px;
	height: 30px;
}

/*-------------------- OPCIONES 1 ------------------*/

.secPreguntas img{
	width: 170px;
	height: 150px;
	padding: 7px;
}

.secPreguntas .opciones{
	width: 50%;
	margin-left: 30%;
	display: flex;	
	text-align: center;	
}

/*-------------------- OPCIONES 2 ------------------*/

.secPreguntas .reproductor{		
	width: 50%;
	margin: auto;
	margin-bottom: 5%;		
}

.secPreguntas .reproductor audio{
	margin-left: 30%;
}

.secPreguntas .opciones2{   
	display: flex;	
	margin: auto;	
	justify-content: center;
}

.secPreguntas .opciones2 .respuesta{		
	padding-left: 5%;
	margin-bottom: 3%;
}


/* ----------------------- CALIFICACION ------------------------------*/

section#secCalificacion{
	display: none;
}

section div#resultadoTrivia{
	text-align: center;
	font-size: 25pt;
}

/* ----------------------- REINTENTAR ------------------------------*/

div#reintentar{
	text-align: center;
	display: none;
}

div#reintentar input{
    background-color: deepskyblue;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

div#reintentar input:hover{
    background-color: skyblue;
    color: aquamarine;
    transition: .2s;
}

div#reintentar input:active{
    background-color: dodgerblue;
    color: aliceblue;   
}

/* ----------------------- RESULTADO ------------------------------*/

div#resultadoTrivia{
	width: 30%;
	height: 400px;
	margin: auto;
	background-color: rgba(34,110,147,1);   
    border-radius: 10px;
    padding-top: 15px;   
    margin-bottom: 20px;	
}

div#resultadoTrivia #porcentaje{    
    color: #fff;
    padding: 5px;
    border-radius: 30px;    
    width: 20%;
    margin:auto;
    background-color: dodgerblue;
}

div#resultadoTrivia input{
    background-color: deepskyblue;
    margin: auto;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

div#resultadoTrivia input:hover{
    background-color: skyblue;
    color: aquamarine;
    transition: .2s;
}

div#resultadoTrivia input:active{
    background-color: dodgerblue;
    color: aliceblue;   
}

/* ----------------------- VER MAS ------------------------------*/

div#resultadoTrivia #mostrarResPreguntas{
	margin-top: 7%;
}

div#resultadoTrivia #mostrarResPreguntas div{
	width: 75px;	
	font-size: 12pt;
	text-align: center;	
	margin: auto;
	color: white;
	margin-bottom: 3px;	
	padding: 10px;
	border-radius: 25px;
}

div#resultadoTrivia .respuestaOK{	
	background: green;	
}

div#resultadoTrivia .respuestaNOK{	
	background: red;	
}

div#resultadoTrivia .respuestaOK:hover{	
	background: #34c73e;	
	transition: .2s;
	cursor: default;
}

div#resultadoTrivia .respuestaNOK:hover{	
	background: #ba0707;	
	transition: .2s;
	cursor: default;	
}


